html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #000;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}
body {
  font-size: 2.5vw;
  color:#fff;
  font-family: 'Press Start 2P', monospace;
}
small {
  font-size: .5em;
}
.btn {
  color: #ccc;
  border: #ccc .5vw solid;
  padding: .3em .3em .2em;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
}
.btn:hover {
  color:#fff;
  border-color:#fff;
}
#lead-in {
  position: absolute;
  top:26vh;
  width: 100%;
  text-align: center;
}
#lead-in img {
  height:6vw;
}
#lead-in div {
  margin: 4vw 0 0;
}
#lead-in #get-involved {
  margin-top: 10vw;
}
#made-by {
  position: fixed;
  bottom: 2vw;
  width: 100%
}
#made-by a {
  display: inline-block;
  vertical-align: middle;
  margin-top: .5vw;
  margin-left: 1vw;
}
#made-by img {
  height: 3vw;
  vertical-align: middle;
}
@media only screen and (max-device-width : 736px) {
  body {
    font-size: 3vw;

  }
  #lead-in img {
    height:8vw;
  }
  #lead-in #get-involved {
    margin-top: 5vw;
  }

}